@font-face {
    font-family: "Gilroy";
    src: url(./font/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: "Gilroy-light";
    src: url(./font/Gilroy-Light.otf);
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: "Gilroy";
    background-color: #ffffff;
}
header {
    height: 174px;
    background: #FFF;
    width: 100%;
}

.nav-container {
    display: flex;
    padding: 25px;
}

.nav-logo {
    width: 25%;
    display: flex;
    justify-content: center;
}

.nav-logo>img {
    width: 200px;
    height: 100%;
}

.nav-item {
    display: flex;
    gap: 15px;
    width: 70%;
    justify-content: end;
}

ul {
    list-style: none;
    display: flex;
    gap: 12px;
    letter-spacing: 0em;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;

}

button {
    width: 182px;
    height: 50px;
    top: 87px;
    left: 1178px;
    border-radius: 5.952381134033203px;
    background-color: #75BF7A;
    border: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    color: #FFF;
}

.mobile-nav {
    display: none;
}

.banner {
    background-color: #f9f9f9;
    display: flex;
    width: 100%;
}

.banner-right {
    width: 50%;
}

.banner-right {
    padding-top: 40px;
    padding-right: 20px;
}

.banner-right img {
    width: 100%;
}

.banner-left {
    padding: 40px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50%;
}

.banner-left h1 {
    font-size: 61px;
    font-weight: 800;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    width: 75%;

}

p {
    width: 50%;
    font-family: "Gilroy-light";
    color: #b7b4b4;
    margin-bottom: 30px;

}

.download-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 7px;
    font-weight: 600;
    background-color: black;
}

.download-btn svg {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    font-family: "Gilroy";

}

.banner-btn {
    display: flex;
    gap: 15px;
}
.search-con {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
}

.search {
    background-color: #75BF7A;
    border-radius: 6px;
    width: 90%;
    height: 166px;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    padding: 0px 40px;
    color: #FFF;
    justify-content: space-between;

}

.search p {
    font-size: 24px;
    line-height: 28px;
    color: #FFF;
}

.search input {
    width: 100%;
    height: 48px;
    padding-left: 30px;
    font-size: 15px;
}

.apply {
    border-radius: 4px;
}

.input-con {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 70%;
}

.search-para {
    width: 25%;
    padding-left: 40px;
}

.guide-con {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

span {
    color: #75BF7A;
}

.mobile-con {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 80px;
}

.request-ride {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    padding: 0px 40px;
    width: 20%;
}

.round {
    background-color: #75BF7A;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    position: relative;
}

.mobile-img {
    position: absolute;
    left: 10%;
    top: -34%;
    height: 450px;
}

.post-ride {
    width: 20%;
    padding-left: 40px;
}

.mobile {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guide-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

small {
    position: absolute;
    top: 5%;
    z-index: 1;
    right: 8.5%;
    color: #75BF7A;
    font-size: 15px;
}

.request-one {
    position: relative;
}

.request-two {
    position: relative;
}

.request-two small {
    left: 7%;
    top: 7%;
}

.mobile-con p {
    width: 100%;
}

.flexible,
.earning-con {
    width: 80%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 220px;
    position: relative;
}

.flex-para>span,
.earning-heading>span,
.flex-left>span {
    font-size: 88px;
    font-weight: 600;
    line-height: 100px;
    font-family: "Gilroy-light";
}

.flex-p {
    font-size: 34px;
    line-height: 36px;
    display: inline-block;
    left: 15.5%;
    position: absolute;
    width: 58%;
    color: black;
    font-weight: 900;
    top: -17%;
    height: 200px;
}

.flex-para {
    position: relative;
}

.flex-left>p,
.earning-right>p {
    width: 65%;
}

.flex-right img,
.earning-left img {
    width: 150px;

}
.flex-paragraph-mobile{
    display: none;
}
.benefits-con {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.benefits-con h1 {
    margin: 40px auto;
}

.earning {
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 80px 0px;
    position: relative;
}

.earning-heading p {
    font-size: 34px;
    line-height: 36px;
    display: inline-block;
    color: black;
    font-weight: 800;
    top: -4px;
    position: absolute;
    width: 0;
}

#flex-con {
    top: 0;
    left: 0;
    position: static;
    width: 50%;
    height: 100%;
}

.link-list {
    column-count: 2;
    display: block;
    column-gap: 40px;
}

.footer-container {
    display: flex;
    align-items: center;
    background-color: #ffff;
    margin-top: 80px;
    padding: 60px;
    justify-content: space-around;
}

.link {
    font-size: 15px;
    color: #8B8BA5;
    font-family: "Gilroy-light";
}

.footer-social {
    display: flex;
    gap: 25px;
}

.copy-rights-con {
    background-color: #fff;
    border-top: 1px solid #b7b4b4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #75BF7A;
    font-weight: 600;
    text-align: center;
}

.copy-rights-con p {
    color: #75BF7A;
}
.mobile-con-mobile{
    display: none;
}


@media screen and (max-width : 1024px) {
    .banner-left h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .search p {
        width: 100%;
    }

}


@media screen and (max-width : 768px) {
    .nav-item {
        display: none;
    }

    .apply {
        width: 100%;
    }

    .banner {
        flex-wrap: wrap-reverse;
        width: 100%;
    }

    .mobile-nav {
        display: block;
    }

    .banner-right {
        width: 100%;
        justify-content: center;
        padding: 0px 10px;
    }

    .banner-left {
        padding: 20px 20px;
        width: 100%;
        justify-content: center;
    }

    .banner-left h1 {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 40px;
        line-height: 40px;
    }

    .banner-left p {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    .banner-btn {
        align-items: center;
        justify-content: center;

    }

    .banner-btn button {
        width: 100%;
        height: 60px;
        font-size: 18px;
    }

    .download-btn svg {
        width: 25px;
        height: 25px;
    }

    .nav-container {
        justify-content: space-between;
        align-items: center;
    }

    .nav-logo img {
        width: 100px;
        height: 50%;
    }

    .banner-right img {
        width: 100%;
    }

    .search,
    .input-con,
    .search-para {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .search input,
    .search p {
        width: 100%;
    }

    .input-con {
        padding-bottom: 25px;
    }

    .mobile-nav img {
        width: 25px;

    }

    .mobile-nav {
        display: flex;
        justify-content: end;
    }

    .guide-header {
        width: 100%;
    }

    .guide-header p {
        width: 100%;
        padding: 0px 15px;
        font-size: 20px;
        text-align: center;
        font-weight: 800;
    }

    .mobile-con {
        display: none;
    }

    .mobile-con-mobile {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 130px;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .round {
        width: 380px;
        height: 380px;
    }

    .round img {
        top: -28%;
        width: 310px;
        height: 600px;
    }

    .guide-con img {
        display: none;
    }
    .mobile>img{
        padding-top: 140px;
    }
    .mobile-con-mobile .request-ride{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }
    .mobile-con-mobile p{
        width: 100%;
        font-size: 20px;

    }
    .mobile-con-mobile .request-one{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flexible{
        flex-direction: column;
        position: static;
        height: auto;
        width: 100%;
        border-radius: 6px;
    }
    .flex-para{
        display: flex;
        align-items: center;
    }
    .flex-para p{
        position: static;
        font-weight: 800;
        margin-left: 20px;
        order: 2;

    }
    .flex-left{
        display: flex;
      
    }
    .flex-p{
        width: auto;
        height: auto;
    }
    .flex-paragraph-mobile{
        display: block;
        width: 100%;
    }
    .flex-paragraph{
        display: none;
    }
    .earning{
        border-radius: 6px;
        margin: 20px 0px;
    }
    .earning-con{
        flex-direction: column;
        height: auto;
        position: static;
        width: 100%;
        padding: 15px 30px;
    }
    .earning-left{
        display: flex;
        order: 2;
        flex-direction: column;
        align-items: center;
    }

    .earning-right{
        display: flex;
        order: 1;
        flex-direction: column;
        width: 100%;
    }
    .earning-heading p{
        position: static;
        width: auto;
    }
    .earning-heading {
        display: flex;
    }
    .earning-left img{
        width: 100%;
    }
    .card-container{
        width: 100%;
        padding: 0px 15px;
    }
    .card-container img{
        width: 100%;
    }
    .flexible-con{
        padding: 0px 30px;
    }
    .footer-container{
        flex-direction: column;
    }
    .link-list{
        order: 3;
        column-count: 1;
        gap: 20px;
        font-size: 25px;
    }
    .link{
        font-size: 20px;
        margin-top: 20px;
    }
    .footer-social{
        order: 2;
        flex-direction: column-reverse;
        margin-top: 30px;
    }
    .link-2{
        display: none;
    }
    .copy-rights-con{
        border: none;
        
    }
    .copy-rights-con p{
        color: #8B8BA5;
    }

}








@media screen and (max-width : 400px) {
    .banner-left h1 {
        font-size: 35px;
        line-height: 35px;
    }

    .banner-left p {
        font-size: 16px;
    }

    .banner-btn button {
        font-size: 15px;
    }

    .banner-left {
        padding: 20px 20px;
    }

    .download-btn svg {
        width: 20px;
        height: 20px;
    }

    .round {
        width: 320px;
        height: 320px;
    }
    .round img{
        width: 280px;
        height: 500px;
        left: 7%;
    }
}